<div class="flex flex-column">
    <h2>{{foodDetail.name}}</h2>
    <div class="type">
        <span class="head-title">Type</span>
        <p>{{foodDetail.type}}</p>
    </div>
    <div class="food-img">
        <span class="head-title">Image</span>
        <p></p>
    </div>
    <div class="describe">
        <span class="head-title">Recipe</span>
        <p></p>
    </div>
    <div class="button-submit">
        <button pButton pRipple type="button" label="Edit" class="p-button-outlined p-button-danger"></button>
        <button pButton pRipple type="button" label="Save" class="p-button-outlined p-button-info"></button>
    </div>
</div>
