<div class="flex flex-column">
    <h1>{{foodDetail.name}}</h1>
    <div class="type">
        <span class="head-title text-lg md:text-xl font-semibold">Type</span>
        <p>{{foodDetail.type}}</p>
    </div>
    <div class="food-img">
        <span class="head-title text-lg md:text-xl font-semibold">Image</span>
        <p>{{foodDetail.img}}</p>
    </div>
    <div class="describe">
        <span class="head-title text-lg md:text-xl font-semibold">Recipe</span>
        <p>{{foodDetail.other}}</p>
    </div>
</div>
