<div class="flex flex-column">
    <div class="flex pb-3 justify-content-center"> 
        <p-dropdown [options]="foodType" [(ngModel)]="selectedType" placeholder="Select a Type" optionLabel="name" [showClear]="true"></p-dropdown>
    </div>
    <div class="flex title-name flex-column">
        <div class="flex font-semibold pb-1">
            <span class="text:sm lg:text-lg">Name of Food</span>
        </div>
        <div class="flex">
            <input type="text" pInputText [(ngModel)]="selectedName"/>
        </div>
    </div>
    <div class="flex pb-3 flex-column">
        <div class="flex font-semibold pb-1">
            <span class="text:sm lg:text-lg">Recipe</span>
        </div>
        <div class="flex">
            <textarea rows="5" cols="60" pInputTextarea autoResize="autoResize" [(ngModel)]="selectedRecipe"></textarea>
        </div>
    </div>
    <div class="flex">
        <p-fileUpload name="demo[]" 
                      [customUpload]=true  
                      (uploadHandler)="uploadHandler($event)"  
                      (onUpload)="onUpload($event)"
        [multiple]=false accept="image/*" [maxFileSize]=1000000>
        <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
            </ul>
        </ng-template>
        </p-fileUpload>
        <p-messages></p-messages>
    </div>
    <div class="flex">
        <button pButton pRipple type="button" label="Save" class="p-button-raised p-button-info" (click)="onClickAction($event)"></button>
    </div>
</div>


