.app-footer{
  color: white;
  font-family: "Tahoma";
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.945)), url(../../assets/background-img/background.jpg);
  background-size: 100%;
  padding-left: 15%;
  padding-right: 15%;
  background-position: center;
  background-color: #000000;
}
.pi.pi-facebook{
  font-size: 1.7rem;
  margin: 0 30px 0 30px;
  color: #3268d9;
}
.pi.pi-twitter{
  font-size: 1.7rem;
  margin: 0 30px 0 30px;
  color: #1DA1F2;
}
.pi.pi-github{
  font-size: 1.7rem;
  margin: 0 30px 0 30px;
  color: #ffffff;
}